/* display-sizes*/
$mobile-width-min:320px;
$mobile-width-max:770px;
$tablet-width-min:771px;
$tablet-width-max:1090px;
$desktop-width-min:1091px;


$footer-background-color:#f1f1f1;
$navigation-color:#000000;
$basic-font-size-desktop: 17px;
$basic-font-size-mobile:13px;
$second-font-size-desktop: 20px;
$nav-font-size-mobile:17px;
$nav-font-size-tablet:15px;
$headline-font-size-desktop:53px;
$headline-font-size-tablet:43px;
$headline-font-size-mobile:27px;
$features-list-font-size-desktop:20px;
$button-background-color-hover:#444444;
$button-font-color: #444444;
$button-font-color-hover: #ffffff;
$button-cursor: pointer;
$transition:0.5s ease-in-out;
$transition-radio:0.5s ease-out;

$span-catalog-color:#63d1bb;

$catalog-item-name-font-size:20px;
$catalog-green-color:#99e1d2;
$catalog-checkbox-radio-hover:#99e1d2;
$catalog-grey-color:#d9d9d9;
$catalog-checkbox-radio-active:#d9d9d9;
$input-opacity:0.1;

